
.content__wrapper {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
.top__nav {
display: flex;
justify-content: space-between;
align-items: center;
width: calc(100% - 40px);
margin: 20px 20px;
}
.top__nav a{
font-size:32px;
font-weight: 700;
color:#EFC825;
display: flex;
justify-content: flex-start;
align-items: center;
}
.top__nav img{

    width:50px;
    margin-right:8px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.top__nav button{
    display: flex;
    justify-content: center;
    align-items: center;
     border:none;
     border-radius: 15px;
     background-color: #00a43c;
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     padding: 10px;
     cursor: pointer;
     margin: 0px 10px;
     transition: all 0.3s ease; /* Додаємо плавний перехід */
}
.top__nav button:hover{
    
     border-radius: 20px;
     background-color: #EFC825;
     color: #ffffff;
     font-size: 16px;
     font-weight: 800;
     padding: 10px;
     cursor: pointer;
     margin: 0px 10px;

}

.top__nav a:hover img {
    transform: scale(1.1);
   
}
.floor__map {
    width: 100%;
    
}

.map__wrapper  {
   max-height:100%; 
   min-height:260px; 
    position: relative;
    width: 100%; 
    overflow-x:auto; 
    overflow-y: hidden;

 
}

.map{
   
    position: absolute;
    padding: 10px 20px;
    top: 0px; 
    left: 0; 
    width: auto;
    height: 100%;
    
    
}


  .cls-1, .cls-2, .cls-3, .cls-4 {
    stroke-width: 0px;
  }
  .cls-1 {
    fill: #EEFFF1;
  }

  .cls-4 {
    fill: #00a43c;
  }
  .cls-4:hover{
    fill: #00551f;
    cursor: pointer;
    user-select: none;
  }
  .cls-5:hover .cls-4,
  .cls-6:hover .cls-4 {
      fill: #00551f;
      cursor: pointer;
      user-select: none;
  }


  .cls-2 {
    fill: #c1c1c1;
  }
  .cls-3 {
    fill: #dddddd;
  }


  .cls-5, .cls-6{
    fill: #fff;
    user-select: none; /* Забороняє виділення тексту */
    pointer-events: none; /* Забороняє взаємодію з текстом */
  }
.cls-7 {
  fill: #a8a8a8;
  user-select: none; /* Забороняє виділення тексту */
  pointer-events: none; /* Забороняє взаємодію з текстом */
}

  .cls-5, .cls-6, .cls-7 {
 
    font-weight: 700;
  }

  .cls-5, .cls-8 {
    font-size: 50px;
  }

  .cls-9 {
    font-size: 40px;
  }

  .cls-7 {
    font-size: 60px;
  }
  .map__wrapper::-webkit-scrollbar {
    width: 0em;
    /* Товщина смуги прокрутки */
}

.map__wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Колір смуги прокрутки */
}

.selected-room {
  fill: #00551f; /* Наприклад, червоний колір */
}

.map__info_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(3, 27, 7, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
  display: none; /* Спочатку приховано */
}

.map__info_bg.active {
  pointer-events: all;
  opacity: 1;
  display: block; /* Показуємо, коли активне */
}

.map__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 4px solid #EFC825;
  border-radius: 20px;
  padding: 25px;
  width: 700px;
  max-width: 90%; /* Додаємо максимальну ширину для маленьких екранів */
  box-sizing: border-box;
}

.map__info_text{
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
}

.map__info_title {
  font-size:22px;
  width: 100%;
  margin-bottom: 20px;
font-weight: 700;
color:#00a43c;
display: flex;
justify-content: center;
align-items: center;
}
.map__info_title img{

  width:50px;
  margin-right:5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.map__info_title:hover img {
  transform: scale(1.1);
 
}

.map__info_text p{
  margin-bottom: 8px;
  font-size: 18px;
font-weight: 700;
box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
}
.map__info_text span{
 
display: flex;
align-items: center;
}
.free__place{
  color:#718679;
}
.nofree__place{
  color:#00a43c;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.map__info_text img{

  width:35px;
  margin-right:5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.map__info_text p:hover img {
  transform: scale(1.05);
 
}
.map__info_link {
  margin-bottom: 8px;
  font-size: 22px;
font-weight: 700;
color:#EFC825;
display: flex;
justify-content: space-between;
align-items: center;
}

.map__info__svg{
  width:35px;
  fill:#EFC825;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.map__info_link :hover .map__info__svg {
  transform: scale(1.05);
  fill:#c9a100;
}
.map__info_link :active .map__info__svg {
  transform: scale(1);
  fill:#EFC825;
}


/* Адаптивність для планшетів */
@media (max-width: 768px) {
  .map__info {
    width: 80%; 
    padding: 20px; 
  }


}

/* Адаптивність для мобільних телефонів */
@media (max-width: 480px) {
  .map__info {
    width: 95%; 
    padding: 15px; 
    border-radius: 10px; 
  }
}







@media (max-width: 1100px) {

    .top__nav {
      
        width: calc(100% - 20px);
        margin: 10px 10px;
        }
        .top__nav a{
        font-size:22px;
        font-weight: 600;
        
       
        }
        .top__nav img{
        
            width:40px;
            margin-right:5px;
            padding: 5px;
            
        }
        .top__nav button{

             font-size: 14px;
             font-weight: 600;
             padding: 10px;
             cursor: pointer;
             margin: 0px 10px;
             transition: all 0.3s ease; /* Додаємо плавний перехід */
        }
        .top__nav button:hover{
    
            border-radius: 20px;
            background-color: #EFC825;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
            margin: 0px 10px;
       
       }
}
@media (max-width: 910px) {

    .top__nav {
      
        width: calc(100% - 20px);
        margin: 10px 10px;
        }
        .top__nav a{
        font-size:20px;
        font-weight: 600;
        
       
        }
        .top__nav img{
        
            width:35px;
            margin-right:3px;
            padding: 5px;
            
        }
        .top__nav button{

             font-size: 14px;
             font-weight: 600;
             padding: 5px;
             border-radius: 10px;
             cursor: pointer;
             margin: 0px 3px;
             transition: all 0.3s ease; /* Додаємо плавний перехід */
        }
        .top__nav button:hover{

            background-color: #EFC825;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            padding: 5px;
            cursor: pointer;
            margin: 0px 3px;
       
       }
       .floor__map {
        width: 100%;
        margin: 0px;
    }
    .map__info{
      padding: 8px;
    }
    .map__info_title {
      font-size:20px;
     
 
    }
    .map__info_title img{
    
      width:35px;
     
      padding: 0px;
    
    }

    .map__info_text{
      margin: 5px;
     
    
    }
    .map__info_text p{
      margin-bottom: 8px;
      font-size: 14px;
    font-weight: 600;
    
    }
    .map__info_text img{
    
      width:30px;
      margin-right:5px;
      padding: 5px;
     
    }
    
  
    .map__info_link {
      
      font-size: 18px;
   
   
    }
    
    .map__info__svg{
      width:30px;
     
    }

}
